bin/
bin10/
bin13/
distribution/
temp_zip/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
ipch/
.vs/
**/Debug/
**/Release/
**/Release_(Vista)/
**/obj/
*.pdb
*.obj
*.ilk
*.exp
*.lib
!thirdparty/**/*.lib
src/peerblock/version_parsed.h
*.log
msbuild*.log
